extends layout

block content

  if err
    h4 #{status}
    ul  
      each e in err.errors
        li #{e.message}
  
  form(method="POST" action="user" data-parsley-validate)
    input(type="email" name="email" placeholder="Email" required) 
    br
    div
      input(type="radio" name="color" value="verde" required)
      label(name="color") Verde
      br
      input(type="radio" name="color" value="azul") 
      label(name="color") Azul
    br
    select(id="numeros" name="number" min="1" max="3" data-parsley-type="digits" required)
      option(value="1") 1
      option(value="2") 2
      option(value="3") 3
    label(name="number")  Número
    br
    button(type="submit") Enviar
