doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="http://code.jquery.com/jquery-migrate-1.2.1.min.js")  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.js")
  
